apiVersion: apps/v1
kind: Deployment
metadata:
  name: instalock-web
  namespace: staging
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: instalock-web
  template:
    metadata:
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: instalock-web
    spec:
      containers:
        - name: instalock-web
          image: docker.io/tahminator/instalock-web
          ports:
            - containerPort: 3050
          readinessProbe:
            httpGet:
              path: /
              port: 3050
            initialDelaySeconds: 30
            periodSeconds: 15
            timeoutSeconds: 10
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: /
              port: 3050
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          env:
            - name: NODE_ENV
              value: production
          envFrom:
            - secretRef:
                name: instalock-web-staging-secrets
          resources:
            requests:
              memory: "128Mi"
              cpu: "256m"
            limits:
              memory: "1.5Gi"
              cpu: "2000m"
