apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-example
  namespace: production
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: go-example
  template:
    metadata:
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: go-example
    spec:
      containers:
        - name: go-example
          image: docker.io/tahminator/go-example
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 15
            timeoutSeconds: 10
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          envFrom:
            - secretRef:
                name: go-example-production-secrets
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1.5Gi"
              cpu: "3000m"
